/* Raleway - A font for navbars */
@import url(https://fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

/**
 * General elements
 */
body {
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

a {
  color: #a40000;
}
a:hover {
  color: #e00808;
}

/**
 * Layout of the main page elements
 */
#main, #header, #footer {
  margin: 0 auto;
  width: 980px;
  padding: 10px;
}
#header {
  position: relative;
}
#header-wrapper {
  background-color: #555;
  color: #fff;
}
#navbar-wrapper {
  background-color: #610000;
}
#main {
  min-height: 20em;
}
#main-wrapper {
  background-color: #fff;
  padding-bottom: 40px;
}
#footer-wrapper {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
#footer {
  color: #444;
}
.sitetitle {
  position: absolute;
  top: 6px;
  left: 300px;
  font-size: 48px;
}
.siteslogan {
  position: absolute;
  top: 65px;
  left: 300px;
  font-style: italic;
}

.navbar {
  margin: 0 auto;
  width: 980px;
  padding: 0;

  display: block;
  background-color: #610000;
  font-family: Raleway, Verdana;
  font-size: 18px;
}
.navbar a {
  display: inline-block;
  background-color: #a40000;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0;
}
.navbar a:hover {
  background-color: #bb0303;
}
.navbar a.selected {
  background-color: #444;
}
.submenu {
  display: inline;
  background-color: #a40000;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 10px;
}
.submenu.selected {
  background-color: #444;
}
.submenulist {
  position:absolute;
  left:-9999px;
  z-index: 2;
}
.submenulist a {
  display: block;
}
.submenulist a.selected{
  border-style: solid;
  border-color: #a40000;
  border-width: 1px;
}
.submenu:hover {
  background-color: #bb0303;
}
.submenu:hover .submenulist {
  left:0;
}
.headerform {
  float: right;
}
a.category {
  background-color: #444;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}
a.category:hover {
  background-color: #777;
}
textarea {
  width: 500px;
  height: 120px;
}
.floatright {
  float: right;
}
.clearfix {
  overflow: auto;
}
figcaption {
  text-align: center;
  font-size: 10pt;
}
